.main-content{
	font-family: 'Neuton', sans-serif;
line-height: 28px;
font-weight: 400;
font-style: normal;
color: #777;
text-align: center;

}
#titolo{
	height: 100px;
	background-color: #6caee0;
	color: white;
	font-size: 26px;
	line-height: 100px; 
    vertical-align: middle;
	font-style: bold;
	font-weight: 400;
}

#descrizione-punti{
	margin-top: 50px;
	font-size: 16px;
	text-align: left;
	font-weight: 300;
}
tr.table_content{
	font-size: 14px;
	text-align: left;
	font-weight: 200;
	line-height: 1.42857143;
}
tr.table_content2{
	font-size: 14px;
	text-align: left;
	font-weight: 200;
	line-height: 1.42857143;
	background-color: #d9edf7;
}
#punti{
	color: blue;
	font-size: 20px;
}
.name{
	width: 91%;
}
.points{
	width: 10%;
}